<!DOCTYPE html>
<html>
<head>
    <title>Eroare de autentificare</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://www.stiridecluj.ro/files/images/220/16e3b4de739be8aa1b7401e7dd9e1af8.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, .4); /* adaugă un fundal semi-transparent */
            flex-direction: column;

        }

        div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;

        }

        h1 {
            color: #333;
        }

        p {
            font-weight: 600;
            font-size: large;
            color: white;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            color: #fff;
            background-color: #007BFF;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div>
        <h1>!!Eroare de autentificare!!</h1>
        <p>Nu ai introdus datele corecte în pagina de autentificare. Te rugăm să încerci din nou.</p>
        <a href="/login">Înapoi la pagina de autentificare</a>
    </div>
</body>
</html>