
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records Page</title>
    <link rel="stylesheet" href="/aspect.css">
</head>
<body>
    <h1 class="titlu">Update Page Festivaluri</h1>

    <form action="/updateFestival" method="post" class="update-form">
        <input type="hidden" name="idToUpdate" value="<%= idToUpdate %>">
        
        <label for="updatedField" class="form-label">Selectați câmpul pentru a actualiza:</label>
        <select name="updatedField" id="updatedField" class="form-select">
            <option value="NumeFestival">Nume Festival</option>
            <option value="DataInceput">Data început</option>
            <option value="DataSfarsit">Data sfârșit</option>
            <option value="Locatie">Locație</option>
        </select>

        <label for="updatedValue" class="form-label">Valoare nouă:</label>
        <input type="text" name="updatedValue" required class="form-input">

        <button type="submit" class="form-button">Actualizare Festivaluri</button>
    </form>
    
        <% if (error && error !== 'Incomplete data for update') { %>
            <p class="error-message"><%= error %></p>
        <% } %>

</body>
</html>
